  @font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff) format("truetype");
  }

  @font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff) format("truetype");
  }

  body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 1px;
  }

  .header {
    position: relative;
    box-sizing: border-box;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1660rem;
    min-height: 450rem;
    z-index: 10;
    padding-top: 54rem;
    margin: 0 auto 54rem auto;
  }

  .header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0rem;
    opacity: 0.6;
    z-index: -3;
  }

  .wrap {
    z-index: 10;
    box-sizing: border-box;
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
  }

  .header-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 10;
    margin-bottom: 103rem;
  }

  .logo {
    display: flex;
    width: 180rem;
  }

  .nav-menu {
    display: flex;
    box-sizing: border-box;
    margin-top: 0rem;
  }

  .menu-list {
    display: flex;
    margin-top: 10rem;
    list-style-type: none;
  }

  .menu-list-item:nth-child(n + 2) {
    margin-left: 35rem;
    align-items: baseline;
  }

  .menu-link {
    text-decoration: none;
    font-size: 13rem;
    text-transform: uppercase;
    color: #ffffff;
  }

  .menu-link:hover {
    text-decoration-line: underline;
  }

  .page-title {
    font-size: 45rem;
    color: #ffffff;
    font-weight: bold;
    line-height: 75rem;
    width: 730rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 126rem;
    z-index: 10;
  }


  .section-title {
    font-size: 20rem;
    max-width: 1660rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
  }

  .section-title::after {
    content: "";
    display: block;
    width: 65rem;
    margin: 9rem auto 26rem auto;
    border: 1.5rem solid #e1d9bd;
  }

  .trends {
    margin: 0 auto 64rem auto;
    /* max-width: 1660rem; */
  }

  .trends-items {
    display: flex;
    max-width: 1660rem;
    margin: auto;
    justify-content: space-between;
    /* gap: 3rem; */
  }



  .trend-item {
    position: relative;
    display: flex;
    align-items: end;
    width: calc(1648rem/4);
    min-height: 290rem;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* background-image: url("../картинки/trend1.jpg"); */
    background-size: cover;
    padding: 15rem 24rem 15rem 20rem;
    z-index: 10;
  }

  /* .trend-item:nth-child(n+2) {
    margin-left: 4rem;
  } */

  .trend-item::after {
    content: "";
    position: absolute;
    background-color: #000000;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0rem;
    opacity: 0.6;
    z-index: -3;
  }

  .trend-img-1 {
    background-image: url("../картинки/trend1.jpg");
  }

  .trend-img-2 {
    background-image: url("../картинки/trend2.jpg");
  }

  .trend-img-3 {
    background-image: url("../картинки/trend3.jpg");
  }

  .trend-img-4 {
    background-image: url("../картинки/trend4.jpg");
  }


  .trend-content {
    border: 3rem solid #b59f5b;
    padding: 34rem 33rem;
  }

  .trend-title {
    color: #ffffff;
    margin-bottom: 0;
  }


  .wrap-content-sidebar {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 10;
  }

  .main-posts {
    width: 780rem;
  }

  .post {
    display: flex;
    margin-bottom: 60rem;
    min-height: 294rem;
  }

  .post-image {
    display: flex;
    /* width: 381rem; */
    /* height: 294rem; */
    background-color: #eff6f1;
  }

  .post-desc {
    /*   display: block; */
    /*   flex-direction: column; */
    width: 370rem;
    min-height: 294rem;
    margin-left: 30rem;
  }

  .post-tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: unset;
  }

  .post-tag-item {
    display: inline-block;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    margin-right: 17rem;
  }

  .post-tag-item:hover {
    text-decoration: underline;
  }

  .post-title {
    position: relative;
    font-size: 20rem;
    line-height: 23.99rem;
    margin-top: 8rem;
    /* width: 330rem; */
  }

  .post-title:hover {
    color: #b59f5b;
  }

  .wrap-date-author {
    position: relative;
    display: block;
    margin-top: 26px;
    margin-bottom: 44px;
  }

  .author {
    display: inline;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }

  .date {
    box-sizing: content-box;
    display: inline;
    margin-right: 9px;
    font-size: 12px;
    color: #888888;
    line-height: 21px;
  }

  .post-lead {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .sidebare {
    /*   display: flex; */
    /*   flex-direction: column; */
    /*   flex-wrap:wrap; */
    width: 272rem;
  }

  .sidebare-section-posts {
    padding-bottom: 60rem;
    min-height: 600rem;
  }

  .sidebare-section-name {
    position: relative;
    font-size: 14rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0rem;
    line-height: 1;
    padding-left: 4rem;
    padding-top: 1rem;
  }

  .sidebare-section-name::after {
    content: "";
    display: block;
    width: 65rem;
    height: 3rem;
    background-color: #e1d9bd;
    margin-top: 10rem;
    margin-left: 105rem;
  }

  .sidebare-post {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22rem;
  }

  .sidebare-post:nth-child(2) {
    margin-top: 29rem;
  }

  .sidebare-post-image {
    display: block;
    width: 70rem;
    height: 70rem;
    background-color: #eff6f1;
  }

  .sidebar-post-content {
    width: 182rem;
  }

  .sidebar-post-name {
    position: relative;
    display: block;
    font-size: 14rem;
    font-weight: bold;
    margin: 0rem 0rem 0rem 0rem;
    line-height: 18rem;
  }

  .sidebar-post-name:hover {
    color: #b59f5b;
  }

  .sidebare-post-date {
    margin-bottom: 0rem;
    width: 182rem;
    margin: 0;
    box-sizing: content-box;
    display: block;
    margin-right: 9rem;
    margin-top: -6rem;
    font-size: 12rem;
    color: #888888;
    line-height: 21rem;
  }

  .visual-hidden {
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin: -1rem;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .form-find {
    display: flex;
    flex-direction: row;
    margin-top: 60rem;
  }

  .form-find-input {
    height: 48rem;
    padding-left: 20rem;
    padding-right: 2rem;
    border: none;
    background-color: #f4f7f6;
    width: 222rem;
    outline: none;
  }

  .form-find-input:focus {
    border-top: 1rem solid #b59f5b;
    border-left: 1rem solid #b59f5b;
    border-bottom: 1rem solid #e1d8bd;
    padding-left: 19rem;
  }

  .form-find-button {
    width: 48rem;
    height: 48rem;
    border: none;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18rem;
    cursor: pointer;
  }

  .form-find-button:hover {
    background-color: #323232;
  }

  .sidebare-section-subscribe {
    padding-bottom: 60rem;
  }

  .form-input-mail {
    box-sizing: border-box;
    height: 48rem;
    padding-left: 20rem;
    border: none;
    background-color: #f4f7f6;
    width: 100%;
    outline: none;
    margin-top: 24rem;
  }

  .form-input-mail:focus {
    padding-left: 19rem;
    border-top: 1rem solid #b59f5b;
    border-left: 1rem solid #b59f5b;
    border-bottom: 1rem solid #e1d8bd;
    border-right: 1rem solid #b59f5b;
    box-shadow: 0rem 1rem #e8e1cc;
  }

  .button-subscribe {
    border: none;
    background-color: #b59f5b;
    width: 270rem;
    height: 48rem;
    padding: 19rem auto;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 17rem;
    cursor: pointer;
  }

  .button-subscribe:hover {
    border-top: 1rem solid #e6e6e6;
    background-color: #323232;

  }

  .sidebare-section-tags {
    margin-bottom: 54rem;
  }

  .sidebare-tag-list {
    padding-left: 3rem;
    margin-top: 24rem;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .sidebare-tag-item {
    display: inline-block;
    padding: 4rem 13rem;
    border: 3rem solid #eeeeee;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12rem;
    margin-bottom: 6rem;
    margin-left: 0rem;
    margin-right: 5rem;
    color: #0f0d0e;
  }

  .sidebare-tag-item:hover {
    border: 3rem solid #b59f5b;
  }

  .sidebare-section-themes {
    margin-bottom: 60rem;
  }

  .theme-list {
    margin-top: 9rem;
    padding: 0;
  }

  .theme-link:first-letter {
    text-transform: uppercase;
  }

  .theme-item {
    height: 46rem;
    font-weight: bold;
    font-size: 14rem;
    border-bottom: 1rem solid #eee;
    color: #000000;
    display: flex;
    align-items: center;
  }

  .theme-item:hover {
    color: #b59f5b;
  }

  .theme-link span {
    font-size: 12rem;
    vertical-align: super;
    color: #b59f5b;
  }





  .shop {
    margin-bottom: 68rem;
  }


  .shop-products {
    display: flex;
    justify-content: space-between;
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 346rem;
  }

  .product-image {
    background-color: #eff6f1;
    margin: 0 23rem;
  }

  .product-desc {
    display: flex;
    margin-top: -32rem;
    padding: 50rem 20rem 24rem 17rem;
    flex-direction: column;
    border: 3rem solid #b59f5b;
    flex-grow: 1;
  }

  .product-title {
    position: relative;
    font-size: 20rem;
    line-height: 23.99rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .product-lead {
    position: relative;
    display: inline-block;
    font-size: 15rem;
    line-height: 22rem;
    margin-bottom: 22rem;
    margin-top: 0rem;
  }

  .product-lead-link {
    color: #b59f5b;
  }

  .product-lead-link:hover {
    text-decoration: underline;
  }

  .product-prices-button {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .product-prices {
    text-align: start;
  }

  .product-price-old {
    text-decoration: line-through;
    font-size: 14rem;
    font-weight: 700;
    text-transform: uppercase;
    /* display: block; */
  }

  .product-price {
    font-size: 20rem;
    font-weight: 700;
    line-height: 1;
    margin-top: -4rem;
    padding-bottom: 4rem;
    display: block;
    text-transform: uppercase;
  }

  .product-button {
    width: 140rem;
    height: 48rem;
    border: none;
    padding: 19rem auto;
    background-color: #b59f5b;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .product-button:hover {
    border-top: 1rem solid #e6e6e6;
    background-color: #323232;
  }















  .footer {
    margin-bottom: 40rem;
  }

  .socials {
    margin-top: 4rem;
    background-color: #f4f7f6;
    padding-top: 30rem;
    padding-bottom: 30rem;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .social-link {
    display: flex;
    width: 20rem;
    height: 20rem;
    margin: 0 14rem;
  }

  .social-link-dribbble {
    background-image: url("../svg/001-dribbble.svg");
  }

  .social-link-pinterest {
    background-image: url("../svg/002-pinterest.svg");
  }

  .social-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
  }

  .copyright {
    margin-top: 74rem;
    text-align: center;
    font-size: 12rem;
    font-weight: bold;
    color: #999;
  }





  .veil {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    /*display: flex;*/
    justify-content: center;
    z-index: 100;
    display: none;
  }

  .popup {
    position: relative;
    max-width: 390rem;
    max-height: 800rem;
    /*height: 550rem;*/
    box-sizing: border-box;
    border: 1rem solid #e2e2e2;
    /*margin: 56rem 15rem 30rem;*/
    /* margin-top: 56rem; */
    /* margin-left: 15rem; */
    /* margin-right: 15rem; */
    margin: auto;
    padding: 48rem 28rem 30rem;
    background: #ffffff;
    font-size: 13rem;
    color: #000000;
    align-items: center;
  }

  .popup_close {
    position: absolute;
    top: -28rem;
    right: 0;
    width: 20rem;
    /* height: 25rem; */
    margin: auto;
    /* padding: 4rem 30rem 54rem; */
  }

  .popup_close:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .popup_title {
    /* margin-top: -15rem; */
  }

  .select-label {
    display: block;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .input-style {
    display: block;
    box-sizing: border-box;
    padding: 15rem 18rem;
    background-color: #f4f7f6;
    border: none;
    font-family: inherit;
    font-size: 13rem;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 34rem;
  }

  .input-style:hover,
  .input-style:focus {
    outline: 2rem solid #b59f5b;
    outline-offset: -2rem;
  }

  .feedback__select {
    appearance: none;
    width: 100%;
    /*font-family: inherit;*/

    font-size: inherit;
    background: #f4f7f6 url("../svg/form-arrows.svg") no-repeat center right 16rem / 10rem;
  }

  .form-hint {
    display: block;
    /* margin-top: 34rem; */
    margin-bottom: 4rem;
  }

  span.alert {
    display: none;
    margin-top: 20rem;
    color: red;
  }

  .feedback-section-radio {
    margin-bottom: 25rem;
    /* margin-left: 2rem; */

  }


  .feedback__radio-text:first-of-type {
    margin-right: 10rem;
    /* margin-left: 2rem; */
  }

  .feedback__radio-text::before {
    content: "";
    display: inline-block;
    /* margin-right: 8rem; */
    width: 25rem;
    height: 25rem;
    background: url("../svg/form-empty-circle.svg") no-repeat center / 16rem;
    vertical-align: middle;
  }

  .feedback__radio {
    position: absolute;
    transform: scale(0);
    /*clip: rect(1rem, 1rem, 1rem, 1rem);*/
    /*height: 1rem;*/
    /*width: 1rem;*/
  }

  .feedback__radio:checked+.feedback__radio-text::before {
    /* background-image: url("../svg/form-circle.svg") ; */
    background: url("../svg/form-circle.svg") no-repeat center / 16rem;
  }

  .feedback__textarea {
    width: 100%;
    height: 130rem;
    resize: none;
    /*font-family: inherit;*/
    font-size: inherit;
    padding: 20rem 22rem;
  }

  .send-button {
    width: 100%;
    margin-top: -2rem;
    margin-bottom: 20rem;
    /* outline: 2rem solid #323232; */
    /* outline-offset: -2rem; */
  }



  .section__title-position {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 37rem;
    padding-bottom: 16rem;

  }




  @media (min-width: 1200px) {
    .trend-item:nth-child(n+2) {
      margin-left: 4rem;
    }

  }



  @media (min-width: 451px) and (max-width: 1199px) {
    html {
      font-size: 0.8711px;
    }

    .page-title {
      line-height: 64rem;
    }

    .trends-items {
      display: flex;
      /* max-width: 1199px; */
      /* margin: auto; */
      /* justify-content: space-between; */
      /* gap: 3rem; */
      flex-wrap: wrap;
    }



    .trend-item {
      width: calc(100%/3);
      min-height: 246px;

      flex-grow: 1;
      margin-bottom: 3px;
      box-sizing: border-box;
    }

    .trend-item:nth-child(2n+2) {
      margin-left: 4rem;
    }



    .post {
      display: flex;
      margin-bottom: 60rem;
      min-height: 294rem;
      flex-direction: column;
    }

    .post-image {
      display: flex;
      /* flex-basis: 581rem; */
      /* height: 294rem; */
      /* background-color: #eff6f1; */
      /* max-width: 390px; */
    }

    .post-desc {
      /*   display: block; */
      /*   flex-direction: column; */
      /* width: 370rem; */
      margin: 0;
      /* min-height: 390px; */
      /* margin-left: 35px; */
      /* margin-right: 35px; */
    }


    .wrap {
      padding: 0 4.8vw;
    }

    .sidebare {
      margin-left: 4.8vw;
    }

  }